In [1]:
import numpy as np
import pandas as pd

In [2]:
dist1={
    "name":['mridu','debanga','dearr','manun'],
    "marks":['99','98','97','96'],
    "city":['rangia','jorhat','silchar','NITS']
}

In [3]:
df=pd.DataFrame(dist1)

In [4]:
df

      name marks     city
0    mridu    99   rangia
1  debanga    98   jorhat
2    dearr    97  silchar
3    manun    96     NITS

In [ ]:
# to creat a spreadsheet and add all the data of df

In [6]:
df.to_csv('friends.csv')

In [ ]:
df.head()

      name marks     city
0    mridu    99   rangia
1  debanga    98   jorhat
2    dearr    97  silchar
3    manun    96     NITS

In [ ]:
df.head(2)

      name marks    city
0    mridu    99  rangia
1  debanga    98  jorhat

In [10]:
df.tail(2)

    name marks     city
2  dearr    97  silchar
3  manun    96     NITS

In [ ]:
# to describe the df

In [11]:
df.describe()

         name marks    city
count       4     4       4
unique      4     4       4
top     mridu    99  rangia
freq        1     1       1

In [14]:
# herry=pd.read_csv('herry.csv')          to retrive all the data from spreadsheet

In [16]:
ser=pd.Series(np.random.rand(34))

In [17]:
ser

0     0.926403
1     0.777456
2     0.638508
3     0.960661
4     0.537964
5     0.473352
6     0.245530
7     0.021267
8     0.302715
9     0.112483
10    0.716623
11    0.745625
12    0.029941
13    0.593511
14    0.771500
15    0.282226
16    0.564615
17    0.423051
18    0.382749
19    0.446018
20    0.489393
21    0.728676
22    0.661183
23    0.138970
24    0.275494
25    0.059032
26    0.193705
27    0.057428
28    0.005780
29    0.564819
30    0.895229
31    0.301510
32    0.957679
33    0.799436
dtype: float64

In [18]:
type(ser)

pandas.core.series.Series

In [19]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [20]:
newdf

            0         1         2         3         4
0    0.680507  0.258127  0.187282  0.250236  0.207015
1    0.435067  0.528802  0.085904  0.168113  0.623625
2    0.181764  0.711116  0.601514  0.506261  0.206338
3    0.865623  0.588565  0.822000  0.686083  0.891896
4    0.806405  0.305793  0.308766  0.670454  0.453500
..        ...       ...       ...       ...       ...
329  0.410651  0.936600  0.029012  0.783175  0.564175
330  0.096585  0.353848  0.024271  0.774633  0.437830
331  0.815668  0.446678  0.252176  0.527096  0.616362
332  0.281216  0.512183  0.852586  0.454990  0.814318
333  0.991091  0.531339  0.280561  0.848190  0.615016

[334 rows x 5 columns]

In [21]:
newdf.head()

          0         1         2         3         4
0  0.680507  0.258127  0.187282  0.250236  0.207015
1  0.435067  0.528802  0.085904  0.168113  0.623625
2  0.181764  0.711116  0.601514  0.506261  0.206338
3  0.865623  0.588565  0.822000  0.686083  0.891896
4  0.806405  0.305793  0.308766  0.670454  0.453500

In [22]:
type(newdf)

pandas.core.frame.DataFrame

In [23]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.499254    0.492171    0.495888    0.494266    0.506842
std      0.278315    0.291567    0.289674    0.280697    0.303042
min      0.008524    0.004795    0.000738    0.000867    0.006424
25%      0.256813    0.239129    0.232291    0.270452    0.249680
50%      0.499179    0.479014    0.494788    0.492643    0.482855
75%      0.737806    0.751204    0.758449    0.715594    0.775041
max      0.995005    0.999681    0.994062    0.997211    0.999837

In [24]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [25]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [27]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [28]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.680507,0.435067,0.181764,0.865623,0.806405,0.347997,0.165983,0.251074,0.777247,0.597084,...,0.233605,0.299015,0.380397,0.220118,0.148066,0.410651,0.096585,0.815668,0.281216,0.991091
1,0.258127,0.528802,0.711116,0.588565,0.305793,0.509697,0.465270,0.110410,0.182549,0.370432,...,0.632985,0.650871,0.226669,0.722069,0.312372,0.936600,0.353848,0.446678,0.512183,0.531339
2,0.187282,0.085904,0.601514,0.822000,0.308766,0.135016,0.586083,0.238387,0.513686,0.174373,...,0.631261,0.851080,0.846532,0.859136,0.911907,0.029012,0.024271,0.252176,0.852586,0.280561
3,0.250236,0.168113,0.506261,0.686083,0.670454,0.883822,0.891942,0.506831,0.966126,0.729948,...,0.843270,0.215476,0.069164,0.366509,0.641002,0.783175,0.774633,0.527096,0.454990,0.848190
4,0.207015,0.623625,0.206338,0.891896,0.453500,0.010077,0.391169,0.035528,0.919513,0.322117,...,0.462100,0.618278,0.329585,0.216925,0.343645,0.564175,0.437830,0.616362,0.814318,0.615016

In [29]:
newdf.head()

          0         1         2         3         4
0  0.680507  0.258127  0.187282  0.250236  0.207015
1  0.435067  0.528802  0.085904  0.168113  0.623625
2  0.181764  0.711116  0.601514  0.506261  0.206338
3  0.865623  0.588565  0.822000  0.686083  0.891896
4  0.806405  0.305793  0.308766  0.670454  0.453500

In [31]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.991091  0.531339  0.280561  0.848190  0.615016
332  0.281216  0.512183  0.852586  0.454990  0.814318
331  0.815668  0.446678  0.252176  0.527096  0.616362
330  0.096585  0.353848  0.024271  0.774633  0.437830
329  0.410651  0.936600  0.029012  0.783175  0.564175
..        ...       ...       ...       ...       ...
4    0.806405  0.305793  0.308766  0.670454  0.453500
3    0.865623  0.588565  0.822000  0.686083  0.891896
2    0.181764  0.711116  0.601514  0.506261  0.206338
1    0.435067  0.528802  0.085904  0.168113  0.623625
0    0.680507  0.258127  0.187282  0.250236  0.207015

[334 rows x 5 columns]

In [32]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.207015  0.250236  0.187282  0.258127  0.680507
1    0.623625  0.168113  0.085904  0.528802  0.435067
2    0.206338  0.506261  0.601514  0.711116  0.181764
3    0.891896  0.686083  0.822000  0.588565  0.865623
4    0.453500  0.670454  0.308766  0.305793  0.806405
..        ...       ...       ...       ...       ...
329  0.564175  0.783175  0.029012  0.936600  0.410651
330  0.437830  0.774633  0.024271  0.353848  0.096585
331  0.616362  0.527096  0.252176  0.446678  0.815668
332  0.814318  0.454990  0.852586  0.512183  0.281216
333  0.615016  0.848190  0.280561  0.531339  0.991091

[334 rows x 5 columns]

In [33]:
newdf.head()

          0         1         2         3         4
0  0.680507  0.258127  0.187282  0.250236  0.207015
1  0.435067  0.528802  0.085904  0.168113  0.623625
2  0.181764  0.711116  0.601514  0.506261  0.206338
3  0.865623  0.588565  0.822000  0.686083  0.891896
4  0.806405  0.305793  0.308766  0.670454  0.453500

In [34]:
type(newdf[0])

pandas.core.series.Series

In [35]:
newdf2=newdf

In [ ]:
# newdf2 is a view of newdf

In [36]:
newdf[0][0]=3454

In [37]:
newdf.head()

             0         1         2         3         4
0  3454.000000  0.258127  0.187282  0.250236  0.207015
1     0.435067  0.528802  0.085904  0.168113  0.623625
2     0.181764  0.711116  0.601514  0.506261  0.206338
3     0.865623  0.588565  0.822000  0.686083  0.891896
4     0.806405  0.305793  0.308766  0.670454  0.453500

In [38]:
newdf2=newdf.copy()

In [ ]:
# now it a copy of newdf. without .copy its become a view

In [39]:
newdf2.head()

             0         1         2         3         4
0  3454.000000  0.258127  0.187282  0.250236  0.207015
1     0.435067  0.528802  0.085904  0.168113  0.623625
2     0.181764  0.711116  0.601514  0.506261  0.206338
3     0.865623  0.588565  0.822000  0.686083  0.891896
4     0.806405  0.305793  0.308766  0.670454  0.453500

In [40]:
newdf.loc[0,0]=654

In [41]:
newdf.head(2)

            0         1         2         3         4
0  654.000000  0.258127  0.187282  0.250236  0.207015
1    0.435067  0.528802  0.085904  0.168113  0.623625

In [42]:
newdf.columns=list("ABCDE")

In [43]:
newdf

              A         B         C         D         E
0    654.000000  0.258127  0.187282  0.250236  0.207015
1      0.435067  0.528802  0.085904  0.168113  0.623625
2      0.181764  0.711116  0.601514  0.506261  0.206338
3      0.865623  0.588565  0.822000  0.686083  0.891896
4      0.806405  0.305793  0.308766  0.670454  0.453500
..          ...       ...       ...       ...       ...
329    0.410651  0.936600  0.029012  0.783175  0.564175
330    0.096585  0.353848  0.024271  0.774633  0.437830
331    0.815668  0.446678  0.252176  0.527096  0.616362
332    0.281216  0.512183  0.852586  0.454990  0.814318
333    0.991091  0.531339  0.280561  0.848190  0.615016

[334 rows x 5 columns]

In [44]:
newdf.drop("A",axis=1)

            B         C         D         E
0    0.258127  0.187282  0.250236  0.207015
1    0.528802  0.085904  0.168113  0.623625
2    0.711116  0.601514  0.506261  0.206338
3    0.588565  0.822000  0.686083  0.891896
4    0.305793  0.308766  0.670454  0.453500
..        ...       ...       ...       ...
329  0.936600  0.029012  0.783175  0.564175
330  0.353848  0.024271  0.774633  0.437830
331  0.446678  0.252176  0.527096  0.616362
332  0.512183  0.852586  0.454990  0.814318
333  0.531339  0.280561  0.848190  0.615016

[334 rows x 4 columns]

In [46]:
newdf.loc[[1,2],['B','C']]

          B         C
1  0.528802  0.085904
2  0.711116  0.601514

In [47]:
newdf.iloc[0,4]

0.207014642691969

In [48]:
newdf.head()

            A         B         C         D         E
0  654.000000  0.258127  0.187282  0.250236  0.207015
1    0.435067  0.528802  0.085904  0.168113  0.623625
2    0.181764  0.711116  0.601514  0.506261  0.206338
3    0.865623  0.588565  0.822000  0.686083  0.891896
4    0.806405  0.305793  0.308766  0.670454  0.453500

In [57]:
newdf.drop("A",axis=1)

            B         C         D         E
0    0.258127  0.187282  0.250236  0.207015
2    0.711116  0.601514  0.506261  0.206338
3    0.588565  0.822000  0.686083  0.891896
4    0.305793  0.308766  0.670454  0.453500
6    0.465270  0.586083  0.891942  0.391169
..        ...       ...       ...       ...
329  0.936600  0.029012  0.783175  0.564175
330  0.353848  0.024271  0.774633  0.437830
331  0.446678  0.252176  0.527096  0.616362
332  0.512183  0.852586  0.454990  0.814318
333  0.531339  0.280561  0.848190  0.615016

[332 rows x 4 columns]

In [58]:
newdf.reset_index(drop=True,inplace=True)

In [59]:
newdf.head(3)

            A         B         C         D         E
0  654.000000  0.258127  0.187282  0.250236  0.207015
1    0.181764  0.711116  0.601514  0.506261  0.206338
2    0.865623  0.588565  0.822000  0.686083  0.891896

In [60]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Name: B, Length: 332, dtype: bool

In [62]:
newdf['B']=None

In [63]:
newdf

              A     B         C         D         E
0    654.000000  None  0.187282  0.250236  0.207015
1      0.181764  None  0.601514  0.506261  0.206338
2      0.865623  None  0.822000  0.686083  0.891896
3      0.806405  None  0.308766  0.670454  0.453500
4      0.165983  None  0.586083  0.891942  0.391169
..          ...   ...       ...       ...       ...
327    0.410651  None  0.029012  0.783175  0.564175
328    0.096585  None  0.024271  0.774633  0.437830
329    0.815668  None  0.252176  0.527096  0.616362
330    0.281216  None  0.852586  0.454990  0.814318
331    0.991091  None  0.280561  0.848190  0.615016

[332 rows x 5 columns]

In [64]:
newdf['B'].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
327    True
328    True
329    True
330    True
331    True
Name: B, Length: 332, dtype: bool

In [65]:
newdf.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [66]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       332 non-null    float64
 1   B       0 non-null      object
 2   C       332 non-null    float64
 3   D       332 non-null    float64
 4   E       332 non-null    float64
dtypes: float64(4), object(1)
memory usage: 11.7+ KB

In [67]:
newdf.describe(include = 'object')

          B
count     0
unique    0
top     NaN
freq    NaN

In [69]:
newdf.isnull().sum()

A      0
B    332
C      0
D      0
E      0
dtype: int64

In [71]:
columns_to_drop = ['B']
newdf = newdf.drop(columns=columns_to_drop)

In [72]:
newdf

              A         C         D         E
0    654.000000  0.187282  0.250236  0.207015
1      0.181764  0.601514  0.506261  0.206338
2      0.865623  0.822000  0.686083  0.891896
3      0.806405  0.308766  0.670454  0.453500
4      0.165983  0.586083  0.891942  0.391169
..          ...       ...       ...       ...
327    0.410651  0.029012  0.783175  0.564175
328    0.096585  0.024271  0.774633  0.437830
329    0.815668  0.252176  0.527096  0.616362
330    0.281216  0.852586  0.454990  0.814318
331    0.991091  0.280561  0.848190  0.615016

[332 rows x 4 columns]

In [73]:
newdf.isnull().sum()

A    0
C    0
D    0
E    0
dtype: int64